* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #fff;
    line-height: 1.5em;
}
.displayPageAfterLoader {
    display: none;
}
#navbar {
    border-bottom: 1px solid #f1f1f1;
}
#navbar > #navbarToggler > h1 > a{
    color: #17a2b8;
}
#signIn {
    text-decoration: none;
}
  